# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pyt
*.pyo
*$py.class

# Virtual Environments
env/
venv/
ENV/
VENV/
.venv/
.env/

# Django stuff:
*.log
*.pot
*.pyc
local_settings.py
db.sqlite3
db.sqlite3-journal

# Django migrations
**/migrations/
!*/migrations/__init__.py


